{{include file="common/page_header.html"}}

<ul class="breadcrumb">
    <li><a href="/">首页</a> <span class="divider">/</span></li>
    <li><a href="/index/addCron/">添加计划任务</a> <span class="divider">/</span></li>
    <li><a href="/index/help/">计划任务说明</a> <span class="divider">/</span></li>
</ul>
<div class="clear"></div>

<!-- 内容区域 -->
<table class="table table-striped table-condensed table-bordered table-hover">
    <thead>
    <tr>
        <th>任务ID</th>
        <th>状态</th>
        <th>执行结果</th>
        <th>消息时间(秒)</th>
        <th>消耗内存</th>
        <th>运行时间</th>
    </tr>
    </thead>
    <tbody>
    {{if $data}}
    {{foreach from=$data item=row}}
    <tr>
        <td>{{$row.c_id}}</td>
        <td>{{if $row.cl_status ==1}}
            <span class="label label-success">成功</span>
            {{else}}
            <span class="label label-important">失败</span>
            {{/if}}</td>
        <td>{{$row.cl_result}}</td>
        <td>{{$row.cl_consume_time}}s</td>
        <td>{{$row.cl_consume_memory/1024}}kb</td>
        <td>{{$row.cl_datetime|date_format:"%Y-%m-%d %H:%M:%S"}}</td>
    </tr>
    {{/foreach}}
    {{/if}}
    </tbody>
</table>

<div class="pagination pagination-small">
    <ul class="pull-right">{{$page}}<a class="current">总记录：{{$total}}</a></ul>
    <div class="clear"></div>
</div>

<script>
    $('.pagination ul a').each( function() {
        $(this).hasClass('current') ? $(this).wrap('<li class="disabled" />') : $(this).wrap('<li />');
    });
</script>

</body>
</html>